# Trabajando con datos reales !!!

Ahora comienza lo divertido, basta de teoria y vamos a explorar datos reales.

Para ello primero debemos cargar esos datos en un dataframe, dichos datos pueden provenir de distintos archivos (.csv, .xml, .html , .json , .parquet , entre otros)

In [2]:
import numpy as np
import pandas as pd

**.csv**

Es uno de los formatos mas comunes para el almacenamiento de datos, por lo que vamos a leer archivos con esta extension.

In [ ]:
pd.read_

In [2]:
datos = pd.read_csv("playas_estacionamiento.csv")

In [3]:
datos

,NOMENCLATURA,Dirección,Resolución habilitacion,Vencimiento habilitacion,Capacidad automoviles,capacidad bicicletas
0,04-02-003-031,12 DE octubre 81,772/2015,14-may.-18,31,8.0
1,04-03-046-023,25 DE mayo 0337,0465/2017,30-dic.-17,33,8.0
2,04-03-053-006,25 DE mayo 0342,776/2015,28-feb.-18,13,NaN
3,01-25-033-040,25 DE mayo 0955,1090/2007,14-jun.-15,27,8.0
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,0466/2017,30-dic.-17,24,8.0
...,...,...,...,...,...,...
342,04-08-023-072,VELEZ SARSFIELD 854,428/2014,31-mar.-17,20,8.0
343,04-08-023-021,VELEZ SARSFIELD 864,1248/2007,14-jun.-15,12,NaN
344,04-09-041-034,VELEZ SARSFIELD 869,318/2015,14-sep-16,40,8.0
345,01-26-036-051,VIAMONTE 248,136/2014,02-abr.-19,71,16.0
346,NaN,NaN,NaN,NaN,21290,4200.0

In [5]:
datos.head()

,NOMENCLATURA,Dirección,Resolución habilitacion,Vencimiento habilitacion,Capacidad automoviles,capacidad bicicletas
0,04-02-003-031,12 DE octubre 81,772/2015,14-may.-18,31,8.0
1,04-03-046-023,25 DE mayo 0337,0465/2017,30-dic.-17,33,8.0
2,04-03-053-006,25 DE mayo 0342,776/2015,28-feb.-18,13,NaN
3,01-25-033-040,25 DE mayo 0955,1090/2007,14-jun.-15,27,8.0
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,0466/2017,30-dic.-17,24,8.0
5,04-04-003-020,27 DE abril 0366,455/2007,14-jun.-15,20,8.0
6,04-05-004-059,27 DE abril 0642,0093/2017,10-mar.-22,42,8.0

In [6]:
datos.tail()

,NOMENCLATURA,Dirección,Resolución habilitacion,Vencimiento habilitacion,Capacidad automoviles,capacidad bicicletas
342,04-08-023-072,VELEZ SARSFIELD 854,428/2014,31-mar.-17,20,8.0
343,04-08-023-021,VELEZ SARSFIELD 864,1248/2007,14-jun.-15,12,NaN
344,04-09-041-034,VELEZ SARSFIELD 869,318/2015,14-sep-16,40,8.0
345,01-26-036-051,VIAMONTE 248,136/2014,02-abr.-19,71,16.0
346,NaN,NaN,NaN,NaN,21290,4200.0

In [7]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   NOMENCLATURA              344 non-null    object
 1   Dirección                 346 non-null    object
 2   Resolución habilitacion   345 non-null    object
 3   Vencimiento habilitacion  345 non-null    object
 4   Capacidad automoviles     347 non-null    int64
 5   capacidad bicicletas      325 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 16.4+ KB

In [8]:
datos.describe()

       Capacidad automoviles  capacidad bicicletas
count             347.000000            325.000000
mean              122.708934             25.846154
std              1141.094713            232.339340
min                 5.000000              8.000000
25%                25.000000              8.000000
50%                41.000000              8.000000
75%                81.000000             16.000000
max             21290.000000           4200.000000

In [9]:
# agarremos los nombres de las columnas
datos.columns

Index(['NOMENCLATURA', 'Dirección', 'Resolución habilitacion',
       'Vencimiento habilitacion', 'Capacidad automoviles',
       'capacidad bicicletas'],
      dtype='object')

In [10]:
# podemos pasarlos a una lista para usar las propiedades de una lista 
datos.columns.to_list()

['NOMENCLATURA',
 'Dirección',
 'Resolución habilitacion',
 'Vencimiento habilitacion',
 'Capacidad automoviles',
 'capacidad bicicletas']

In [11]:
# supongamos que queremos cambiar el nombre de una columna
# usamos la funcion rename

datos.rename({'NOMENCLATURA':'nom'},axis=1)

,nom,Dirección,Resolución habilitacion,Vencimiento habilitacion,Capacidad automoviles,capacidad bicicletas
0,04-02-003-031,12 DE octubre 81,772/2015,14-may.-18,31,8.0
1,04-03-046-023,25 DE mayo 0337,0465/2017,30-dic.-17,33,8.0
2,04-03-053-006,25 DE mayo 0342,776/2015,28-feb.-18,13,NaN
3,01-25-033-040,25 DE mayo 0955,1090/2007,14-jun.-15,27,8.0
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,0466/2017,30-dic.-17,24,8.0
...,...,...,...,...,...,...
342,04-08-023-072,VELEZ SARSFIELD 854,428/2014,31-mar.-17,20,8.0
343,04-08-023-021,VELEZ SARSFIELD 864,1248/2007,14-jun.-15,12,NaN
344,04-09-041-034,VELEZ SARSFIELD 869,318/2015,14-sep-16,40,8.0
345,01-26-036-051,VIAMONTE 248,136/2014,02-abr.-19,71,16.0
346,NaN,NaN,NaN,NaN,21290,4200.0

In [12]:
datos.head()

,NOMENCLATURA,Dirección,Resolución habilitacion,Vencimiento habilitacion,Capacidad automoviles,capacidad bicicletas
0,04-02-003-031,12 DE octubre 81,772/2015,14-may.-18,31,8.0
1,04-03-046-023,25 DE mayo 0337,0465/2017,30-dic.-17,33,8.0
2,04-03-053-006,25 DE mayo 0342,776/2015,28-feb.-18,13,NaN
3,01-25-033-040,25 DE mayo 0955,1090/2007,14-jun.-15,27,8.0
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,0466/2017,30-dic.-17,24,8.0

In [13]:
datos.rename({'NOMENCLATURA':'nom'},axis=1,inplace=True)
datos.head()

,nom,Dirección,Resolución habilitacion,Vencimiento habilitacion,Capacidad automoviles,capacidad bicicletas
0,04-02-003-031,12 DE octubre 81,772/2015,14-may.-18,31,8.0
1,04-03-046-023,25 DE mayo 0337,0465/2017,30-dic.-17,33,8.0
2,04-03-053-006,25 DE mayo 0342,776/2015,28-feb.-18,13,NaN
3,01-25-033-040,25 DE mayo 0955,1090/2007,14-jun.-15,27,8.0
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,0466/2017,30-dic.-17,24,8.0

In [15]:
# que pasa si quiero cambiar los nombres de todas las columnas
# puedo hacerlo de esta manera

datos.columns = 'Nom Dir Res_habilitacion Ven_habilitacion Cap_autos Cap_bicis'.split()
datos.head()

,Nom,Dir,Res_habilitacion,Ven_habilitacion,Cap_autos,Cap_bicis
0,04-02-003-031,12 DE octubre 81,772/2015,14-may.-18,31,8.0
1,04-03-046-023,25 DE mayo 0337,0465/2017,30-dic.-17,33,8.0
2,04-03-053-006,25 DE mayo 0342,776/2015,28-feb.-18,13,NaN
3,01-25-033-040,25 DE mayo 0955,1090/2007,14-jun.-15,27,8.0
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,0466/2017,30-dic.-17,24,8.0

In [18]:
# reordenar las columnas
cols = datos.columns.to_list()
print(cols)

cols = cols[:2] + cols[-2:] + cols[2:4]
print(cols)

datos = datos[cols]

datos.head()

['Nom', 'Dir', 'Res_habilitacion', 'Ven_habilitacion', 'Cap_autos', 'Cap_bicis']
['Nom', 'Dir', 'Cap_autos', 'Cap_bicis', 'Res_habilitacion', 'Ven_habilitacion']

,Nom,Dir,Cap_autos,Cap_bicis,Res_habilitacion,Ven_habilitacion
0,04-02-003-031,12 DE octubre 81,31,8.0,772/2015,14-may.-18
1,04-03-046-023,25 DE mayo 0337,33,8.0,0465/2017,30-dic.-17
2,04-03-053-006,25 DE mayo 0342,13,NaN,776/2015,28-feb.-18
3,01-25-033-040,25 DE mayo 0955,27,8.0,1090/2007,14-jun.-15
4,06-11-038-012,27 DE ABRIL 1900 / Ing. Lopez 98,24,8.0,0466/2017,30-dic.-17

In [19]:
# cambiemos el tipo de datos de una columna
datos['Cap_bicis']

0         8.0
1         8.0
2         NaN
3         8.0
4         8.0
        ...
342       8.0
343       NaN
344       8.0
345      16.0
346    4200.0
Name: Cap_bicis, Length: 347, dtype: float64

In [20]:
datos['Cap_bicis'].astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [22]:
datos['Cap_bicis'].fillna(0)

0         8.0
1         8.0
2         0.0
3         8.0
4         8.0
        ...
342       8.0
343       0.0
344       8.0
345      16.0
346    4200.0
Name: Cap_bicis, Length: 347, dtype: float64

In [24]:
datos['Cap_bicis'] = datos['Cap_bicis'].fillna(0)

In [25]:
datos['Cap_bicis'].astype(int)

0         8
1         8
2         0
3         8
4         8
       ...
342       8
343       0
344       8
345      16
346    4200
Name: Cap_bicis, Length: 347, dtype: int32

In [26]:
datos['Cap_bicis'] = datos['Cap_bicis'].astype(int)

In [27]:
datos['Cap_bicis']

0         8
1         8
2         0
3         8
4         8
       ...
342       8
343       0
344       8
345      16
346    4200
Name: Cap_bicis, Length: 347, dtype: int32

## Usemos lo aprendido

Vamos a cargar el dataset de arboles publicos en la ciudad de Buenos Aires

https://data.buenosaires.gob.ar/dataset/arbolado-publico-lineal


Y luego respondamos las siguientes preguntas:

1. Existen valores nulos en nuestro conjunto de datos? Los reemplazamos, eliminamos o que hacemos con ellos?
2. Hay valores duplicados?
3. Obtengamos las 5 comunas con mas arboles, y mostremos las cantidades de arboles que poseen
4. Cuanto mide el arbol mas alto? En donde se encuentra? Hay mas de uno con esta altura?
5. Cual es el promedio de la altura de los arboles?

In [3]:
# hay dos formas de cargar el dataframe
# o bien lo podemos descargar y luego levantarlo desde nuestra direccion local
# o levantarlo copiando el enlace de  descarga como a continuacion

#datos_arboles = pd.read_csv("http://cdn.buenosaires.gob.ar/datosabiertos/datasets/arbolado-publico-lineal/arbolado-publico-lineal-2017-2018.csv")
datos_arboles = pd.read_csv("arbolado_publico.csv")

c:\program files\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
datos_arboles.head()

,long,lat,nro_registro,tipo_activ,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,Lineal,1,NaN,Esmeralda,1000,1120,ESMERALDA 1120,NaN,Tipuana tipu,5.5,Ocupada,Regular,A nivel,88.0,34.0
1,-58.381532,-34.592319,30887,Lineal,1,NaN,Pellegrini Carlos,1300,1345,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,Ocupada,Regular,Elevada,6.0,5.0
2,-58.379103,-34.591939,30904,Lineal,1,NaN,Arroyo,800,848,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,7.0,6.0
3,-58.380710,-34.591548,31336,Lineal,1,NaN,Arroyo,900,932,ARROYO 932,LD,Fraxinus pennsylvanica,NaN,Ocupada,Regular,A nivel,9.0,29.0
4,-58.380710,-34.591548,31337,Lineal,1,NaN,Arroyo,900,932,ARROYO 932,LA,Jacaranda mimosifolia,NaN,Ocupada,Regular,A nivel,13.0,8.0

In [31]:
datos_arboles.shape

(370180, 18)

In [32]:
datos_arboles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370180 entries, 0 to 370179
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   354838 non-null  float64
 1   lat                    354838 non-null  float64
 2   nro_registro           370180 non-null  object
 3   tipo_activ             370180 non-null  object
 4   comuna                 370180 non-null  int64
 5   manzana                224140 non-null  object
 6   calle_nombre           370087 non-null  object
 7   calle_altura           364677 non-null  object
 8   calle_chapa            363721 non-null  object
 9   direccion_normalizada  355941 non-null  object
 10  ubicacion              361884 non-null  object
 11  nombre_cientifico      370180 non-null  object
 12  ancho_acera            367083 non-null  object
 13  estado_plantera        370180 non-null  object
 14  ubicacion_plantera     368776 non-null  object
 15  nivel_plantera         368828 non-null  object
 16  diametro_altura_pecho  369894 non-null  float64
 17  altura_arbol           365858 non-null  float64
dtypes: float64(4), int64(1), object(13)
memory usage: 50.8+ MB

**1. Existen valores nulos en nuestro conjunto de datos? Los reemplazamos, eliminamos o que hacemos con ellos?**

In [33]:
# como tratar los valores nulos va a depender muchisimo del problema
# en este caso por ejemplo vemos que la columna manzana tiene varios valores nulos, veamos que mas tenemos alli

datos_arboles['manzana'].unique()

array([nan, '13', '591', ..., '23y', '488 bis', '126 b'], dtype=object)

In [34]:
datos_arboles['manzana'].nunique()

1843

In [35]:
# optamos por eliminar la columna por la presencia de muchos valores nulos

datos_arboles.drop('manzana',axis=1,inplace=True)

In [37]:
datos_arboles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370180 entries, 0 to 370179
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   354838 non-null  float64
 1   lat                    354838 non-null  float64
 2   nro_registro           370180 non-null  object
 3   tipo_activ             370180 non-null  object
 4   comuna                 370180 non-null  int64
 5   calle_nombre           370087 non-null  object
 6   calle_altura           364677 non-null  object
 7   calle_chapa            363721 non-null  object
 8   direccion_normalizada  355941 non-null  object
 9   ubicacion              361884 non-null  object
 10  nombre_cientifico      370180 non-null  object
 11  ancho_acera            367083 non-null  object
 12  estado_plantera        370180 non-null  object
 13  ubicacion_plantera     368776 non-null  object
 14  nivel_plantera         368828 non-null  object
 15  diametro_altura_pecho  369894 non-null  float64
 16  altura_arbol           365858 non-null  float64
dtypes: float64(4), int64(1), object(12)
memory usage: 48.0+ MB

In [38]:
# que pasa con la altura del arbol por ejemplo

datos_arboles['altura_arbol']

0         34.0
1          5.0
2          6.0
3         29.0
4          8.0
          ...
370175     7.0
370176     8.0
370177     8.0
370178     8.0
370179     8.0
Name: altura_arbol, Length: 370180, dtype: float64

In [39]:
datos_arboles['altura_arbol'].unique()

array([34.,  5.,  6., 29.,  8., 15., 12.,  3., 13., 11., 10.,  7., 21.,
       18., 28., 16.,  9., 14., 17., 30., 20.,  2., 19.,  4., 40., 24.,
       nan, 25., 22., 23., 35., 27., 26., 33., 39., 31., 32., 38., 36.,
       37.,  1.])

In [40]:
datos_arboles['altura_arbol'].isna().sum()

4322

In [41]:
datos_arboles['altura_arbol'].mean()

9.036131504572813

In [42]:
datos_arboles['altura_arbol'] = datos_arboles['altura_arbol'].fillna(datos_arboles['altura_arbol'].mean())

In [44]:
datos_arboles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370180 entries, 0 to 370179
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   long                   354838 non-null  float64
 1   lat                    354838 non-null  float64
 2   nro_registro           370180 non-null  object
 3   tipo_activ             370180 non-null  object
 4   comuna                 370180 non-null  int64
 5   calle_nombre           370087 non-null  object
 6   calle_altura           364677 non-null  object
 7   calle_chapa            363721 non-null  object
 8   direccion_normalizada  355941 non-null  object
 9   ubicacion              361884 non-null  object
 10  nombre_cientifico      370180 non-null  object
 11  ancho_acera            367083 non-null  object
 12  estado_plantera        370180 non-null  object
 13  ubicacion_plantera     368776 non-null  object
 14  nivel_plantera         368828 non-null  object
 15  diametro_altura_pecho  369894 non-null  float64
 16  altura_arbol           370180 non-null  float64
dtypes: float64(4), int64(1), object(12)
memory usage: 48.0+ MB

**2. Hay valores duplicados?**

In [ ]:
# puede haber valores duplicados? depende mucho de los datos que estemos analizando, por eso siempre es importante tener
# una idea de el tema en el que estamos trabajando

In [45]:
datos_arboles.drop_duplicates().shape

(370180, 17)

In [46]:
# que columna no deberia tener duplicados?
datos_arboles.columns

Index(['long', 'lat', 'nro_registro', 'tipo_activ', 'comuna', 'calle_nombre',
       'calle_altura', 'calle_chapa', 'direccion_normalizada', 'ubicacion',
       'nombre_cientifico', 'ancho_acera', 'estado_plantera',
       'ubicacion_plantera', 'nivel_plantera', 'diametro_altura_pecho',
       'altura_arbol'],
      dtype='object')

In [47]:
datos_arboles['nro_registro'].nunique()

370180

**3. Obtengamos las 5 comunas con mas arboles, y mostremos las cantidades de arboles que poseen**

In [50]:
datos_arboles['comuna'].value_counts().nlargest(5)

12    38818
11    37340
9     36405
10    33421
4     32346
Name: comuna, dtype: int64

**4. Cuanto mide el arbol mas alto? En donde se encuentra? Hay mas de uno con esta altura?**

In [51]:
datos_arboles["altura_arbol"].max()

40.0

In [52]:
altura_max = datos_arboles["altura_arbol"].max()
datos_arboles[datos_arboles["altura_arbol"]==altura_max]

,long,lat,nro_registro,tipo_activ,comuna,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
90,-58.381536,-34.592402,35144,Lineal,1,Pellegrini Carlos,1300,1337,"PELLEGRINI, CARLOS 1337",Exacta,Howea forsteriana,4.5,Ocupada,Regular,Elevada,3.0,40.0
28042,-58.394735,-34.613740,40070,Lineal,3,Sarandí,300,385,SARANDI 385,LA,Fraxinus pennsylvanica,3,Ocupada,Regular,Bajo nivel,19.0,40.0
76626,-58.443372,-34.608020,42102,Lineal,6,Díaz Vélez Av.,5400,5477,DIAZ VELEZ AV. 5477,Exacta,Platanus x acerifolia,6,Ocupada,Regular,Elevada,35.0,40.0
81191,-58.430871,-34.615099,52105,Lineal,6,Acevedo Eduardo,NaN,48,"ACEVEDO, EDUARDO 48",Exacta,Ceiba speciosa,3.2,Ocupada,Regular,A nivel,53.0,40.0
83670,-58.430856,-34.615420,55649,Lineal,6,Acevedo Eduardo,NaN,24,"ACEVEDO, EDUARDO 24",Exacta,Tipuana tipu,3.2,Ocupada,Regular,A nivel,61.0,40.0
83672,-58.430867,-34.615176,55651,Lineal,6,Acevedo Eduardo,NaN,42,"ACEVEDO, EDUARDO 42",Exacta,Tipuana tipu,3.2,Ocupada,Regular,A nivel,57.0,40.0
84104,-58.430879,-34.614942,55812,Lineal,6,Acevedo Eduardo,NaN,62,"ACEVEDO, EDUARDO 62",Exacta,Tipuana tipu,3.2,Ocupada,Regular,A nivel,72.0,40.0
95653,-58.436798,-34.637094,318537,Lineal,7,Castañares Av.,1300,1310,CASTAÑARES AV. 1310,Exacta,No identificado,6,Sobreocupada,Regular,Elevada,54.0,40.0
110799,-58.455935,-34.621240,407476,Lineal,7,Avellaneda Av.,1800,1800,AVELLANEDA AV. 1800,Exacta,Platanus x acerifolia,4,Ocupada,Ochava,Bajo nivel,64.0,40.0
110800,-58.455935,-34.621240,407477,Lineal,7,Avellaneda Av.,1800,1800,AVELLANEDA AV. 1800,LD,Platanus x acerifolia,5.5,Ocupada,Ochava,A nivel,57.0,40.0
110801,-58.455935,-34.621240,407478,Lineal,7,Avellaneda Av.,1800,1800,AVELLANEDA AV. 1800,LD,Platanus x acerifolia,5.5,Ocupada,Ochava,Bajo nivel,41.0,40.0
110802,-58.455935,-34.621240,407479,Lineal,7,Avellaneda Av.,1800,1800,AVELLANEDA AV. 1800,LD,Platanus x acerifolia,5.5,Ocupada,Regular,Bajo nivel,41.0,40.0
110805,-58.455935,-34.621240,407482,Lineal,7,Avellaneda Av.,1800,1800,AVELLANEDA AV. 1800,LD,Platanus x acerifolia,5.5,Ocupada,Regular,A nivel,41.0,40.0
110811,-58.455935,-34.621240,407488,Lineal,7,Avellaneda Av.,1800,1800,AVELLANEDA AV. 1800,LD,Platanus x acerifolia,5.5,Ocupada,Regular,A nivel,57.0,40.0
117141,-58.477156,-34.684879,378978,Lineal,8,Cosquín,4500,4684,COSQUIN 4684,Exacta,Acer palmatum,4,Ocupada,Regular,A nivel,53.0,40.0
161606,-58.505209,-34.655505,309063,Lineal,9,Bragado,6200.0,6248,BRAGADO 6248,LA,Fraxinus pennsylvanica,3.2,Ocupada,Regular,A nivel,32.0,40.0
176830,-58.504476,-34.614027,313013,Lineal,10,Río Colorado,4400,4430,RIO COLORADO 4430,Exacta,No identificado,2,Sobreocupada,Regular,A nivel,0.0,40.0
203824,-58.477892,-34.609142,169592,Lineal,11,Estado Plurinacional de Bolivia,2000,2030,ESTADO PLURINACIONAL DE BOLIVIA 2030,NaN,Ficus benjamina,4.4,Ocupada,Regular,A nivel,6.0,40.0
208724,-58.481058,-34.609554,183524,Lineal,11,Terrada,2100,2115,TERRADA 2115,NaN,Jacaranda mimosifolia,3.2,Ocupada,Regular,Elevada,35.0,40.0
209156,-58.461333,-34.612197,183331,Lineal,11,Viale Luis,1700,1774,"VIALE, LUIS 1774",Exacta,No identificado,3.2,Ocupada,Regular,A nivel,39.0,40.0
241601,-58.493726,-34.550421,129396,Lineal,12,Deheza,4500,4552,DEHEZA 4552,Exacta,Fraxinus pennsylvanica,4.0,Ocupada,Regular,A nivel,30.0,40.0
248544,-58.473209,-34.550422,144910,Lineal,12,Jaramillo,2800,2890,JARAMILLO 2890,Exacta,Fraxinus pennsylvanica,2.2,Ocupada,Regular,A nivel,45.0,40.0
254764,-58.478530,-34.569652,153333,Lineal,12,Monroe,4300,4335,MONROE 4335,LA,Fraxinus pennsylvanica,3.6,Ocupada,Regular,A nivel,15.0,40.0
258809,-58.479897,-34.576950,161478,Lineal,12,Pacheco,1900,1953,PACHECO 1953,Exacta,Fraxinus pennsylvanica,4.5,Ocupada,Regular,Elevada,25.0,40.0
261743,-58.481891,-34.575580,168280,Lineal,12,Pacheco,2100,2107,PACHECO 2107,LA,Ficus benjamina,4.2,Ocupada,Regular,Elevada,48.0,40.0
265210,-58.507326,-34.576648,176680,Lineal,12,Condarco,5700.0,5755,CONDARCO 5755,Exacta,Platanus x acerifolia,4.4,Ocupada,Regular,A nivel,55.0,40.0
267815,-58.499750,-34.574435,180270,Lineal,12,Achega,3000.0,3017,ACHEGA 3017,Exacta,Fraxinus pennsylvanica,4.4,Sobreocupada,Regular,Elevada,28.0,40.0
268245,-58.502975,-34.587572,176891,Lineal,12,Argerich,4600.0,4629,ARGERICH 4629,Exacta,Tilia x moltkei,4.4,Ocupada,Regular,A nivel,40.0,40.0
284356,-58.459429,-34.566775,108723,Lineal,13,Cramer Av.,1800,1869,CRAMER AV. 1869,NaN,Fraxinus excelsior,6.6,Ocupada,Fuera de línea,Elevada,28.0,40.0
298064,-58.462264,-34.544353,145694,Lineal,13,11 de Septiembre de 1888,3700,3737,11 DE SEPTIEMBRE DE 1888 3737,Exacta,Melia azedarach,4.4,Ocupada,Regular,Elevada,11.0,40.0
305731,-58.404089,-34.581921,76579,Lineal,14,Ortiz de Ocampo Av.,2700,2707,ORTIZ DE OCAMPO 2707,Exacta,Fraxinus excelsior,3,Ocupada,Regular,Elevada,40.0,40.0
308096,-58.445202,-34.569090,80861,Lineal,14,García Teodoro,2300,2380,"GARCIA, TEODORO 2380",Exacta,Fraxinus pennsylvanica,3.2,Ocupada,Regular,A nivel,26.0,40.0
317946,-58.422261,-34.577087,104865,Lineal,14,Fray Justo Santa María de Oro,2700,2723,FRAY JUSTO SANTAMARIA DE ORO 2723,Exacta,Platanus x acerifolia,3.2,Ocupada,Regular,A nivel,65.0,40.0
322838,-58.473840,-34.580929,208576,Lineal,15,De Los Incas Av.,4400,4425,DE LOS INCAS AV. 4425,Exacta,Platanus x acerifolia,8,Ocupada,Regular,A nivel,1.0,40.0
325978,-58.473637,-34.580394,210356,Lineal,15,Lugones,1400,1431,LUGONES 1431,LA,Platanus x acerifolia,4.6,Ocupada,Regular,A nivel,116.0,40.0
360885,NaN,NaN,184069,Lineal,11,Magariños Cervantes Alejandro,2100,2185.0,NaN,Exacta,Jacaranda mimosifolia,4.5,Ocupada,Regular,A nivel,14.0,40.0

In [53]:
datos_arboles[datos_arboles["altura_arbol"]==altura_max].shape

(36, 17)

**5. Cual es el promedio de la altura de los arboles?**

In [54]:
datos_arboles["altura_arbol"].mean()

9.036131504572811

### Conclusion

La exploracion de los datos es una tarea detallista y ES MUY CONVENIENTE que este orientada a un objetivo, es decir, en busqueda de que estamos?.

Todo va a ser relativo en cuanto a la situacion a la que correspondan los datos, que hacemos con los valores nulos? Puede haber duplicados? Que significan las columnas? etc etc etc..

A continuacion dejo algunas paginas de donde se pueden descargar datasets (archivos con datos) de diversos temas.

**Links para datasets**

https://www.kaggle.com/

https://archive.ics.uci.edu/ml/datasets.php

https://data.buenosaires.gob.ar/dataset

https://gobiernoabierto.cordoba.gob.ar/data/datos-abiertos

**Anexo consulta**

Veamos como podemos visualizar mas filas y/o columnas de nuestro dataframe.

Para el caso de querer visualizar mas filas podemos ajustar dos parametros de la configuracion de pandas 

`pd.options.display.max_rows`  (para el caso de las columnas reemplazar rows por columns)

`pd.options.display.min_rows`

In [13]:
# pd.options.display.max_rows = cant_filas

# determina la cantidad maxima de filas a mostrar, si el dataframe tiene igual o menos filas entonces las muestra a todas,
# si el dataframe tiene mas filas, entonces muestra la cantidad minima de filas

# linea para mostrar tooodas las filas de nuestro df
# pd.options.display.max_rows = df.shape[0]
# MUCHO CUIDADO CON ESTO, si el dataframe es muy grande es muy costoso computacionalmente y puede traer inconvenientes.





# pd.options.display.min_rows = cant_filas

# determina la cantidad minima de filas a mostrar (por defecto son 10)

pd.options.display.min_rows = 500

In [18]:
datos_arboles

,long,lat,nro_registro,tipo_activ,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,Lineal,1,NaN,Esmeralda,1000,1120,ESMERALDA 1120,NaN,Tipuana tipu,5.5,Ocupada,Regular,A nivel,88.0,34.0
1,-58.381532,-34.592319,30887,Lineal,1,NaN,Pellegrini Carlos,1300,1345,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,Ocupada,Regular,Elevada,6.0,5.0
2,-58.379103,-34.591939,30904,Lineal,1,NaN,Arroyo,800,848,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,7.0,6.0
3,-58.380710,-34.591548,31336,Lineal,1,NaN,Arroyo,900,932,ARROYO 932,LD,Fraxinus pennsylvanica,NaN,Ocupada,Regular,A nivel,9.0,29.0
4,-58.380710,-34.591548,31337,Lineal,1,NaN,Arroyo,900,932,ARROYO 932,LA,Jacaranda mimosifolia,NaN,Ocupada,Regular,A nivel,13.0,8.0
5,-58.381043,-34.591584,31344,Lineal,1,NaN,Arroyo,900,970,ARROYO 970,Exacta,Fraxinus pennsylvanica,3.5,Ocupada,Regular,A nivel,29.0,15.0
6,-58.380968,-34.591576,31346,Lineal,1,NaN,Arroyo,900,962,ARROYO 962,LA,Fraxinus pennsylvanica,4.5,Ocupada,Regular,A nivel,21.0,12.0
7,-58.373356,-34.594871,31864,Lineal,1,NaN,Reconquista,1100,1126,RECONQUISTA 1126,En frente,Jacaranda mimosifolia,NaN,Ocupada,NaN,A nivel,8.0,3.0
8,-58.380812,-34.591559,31354,Lineal,1,NaN,Arroyo,900,940,ARROYO 940,Exacta,Jacaranda mimosifolia,NaN,Ocupada,Regular,A nivel,38.0,15.0
9,-58.379839,-34.592821,32142,Lineal,1,NaN,Juncal,800,885,JUNCAL 885,Exacta,Tilia x moltkei,2.8,Ocupada,Regular,A nivel,25.0,12.0
10,-58.380710,-34.591548,31374,Lineal,1,NaN,Arroyo,900,932,ARROYO 932,Exacta,Fraxinus pennsylvanica,4.5,Ocupada,Regular,A nivel,22.0,13.0
11,-58.380883,-34.591567,31375,Lineal,1,NaN,Arroyo,900,950,ARROYO 950,Exacta,Fraxinus pennsylvanica,4.5,Ocupada,Regular,A nivel,28.0,15.0
12,-58.382949,-34.592980,32187,Lineal,1,NaN,Cerrito,1200,1294,CERRITO 1294,Exacta,Fraxinus pennsylvanica,6,Ocupada,Fuera de línea,A nivel,45.0,12.0
13,-58.382948,-34.592997,32192,Lineal,1,NaN,Cerrito,1200,1290,CERRITO 1290,Exacta,Ficus benjamina,NaN,Ocupada,Regular,A nivel,60.0,11.0
14,-58.381504,-34.591719,31404,Lineal,1,NaN,Pellegrini Carlos,1300,1391,"PELLEGRINI, CARLOS 1391",Exacta,Liquidambar styraciflua,4.5,Ocupada,Regular,Elevada,25.0,10.0
15,-58.381504,-34.591719,31406,Lineal,1,NaN,Pellegrini Carlos,1300,1391,"PELLEGRINI, CARLOS 1391",LA,No identificado,4.5,Ocupada,Regular,Elevada,50.0,7.0
16,-58.381536,-34.592402,31407,Lineal,1,NaN,Pellegrini Carlos,1300,1337,"PELLEGRINI, CARLOS 1337",Exacta,Phoenix loureiri,4.5,Ocupada,Regular,Elevada,15.0,3.0
17,-58.381547,-34.592639,31411,Lineal,1,NaN,Pellegrini Carlos,1300,1317,"PELLEGRINI, CARLOS 1317",Exacta,Phoenix roebelenii,7,Ocupada,Regular,Elevada,15.0,3.0
18,-58.381515,-34.591950,31413,Lineal,1,NaN,Pellegrini Carlos,1300,1371,"PELLEGRINI, CARLOS 1371",LD,No identificado,7,Ocupada,Regular,Elevada,110.0,21.0
19,-58.381515,-34.591950,31414,Lineal,1,NaN,Pellegrini Carlos,1300,1371,"PELLEGRINI, CARLOS 1371",LD,Phoenix roebelenii,7,Ocupada,Regular,Elevada,15.0,3.0
20,-58.379165,-34.591863,31415,Lineal,1,NaN,Arroyo,800,852,ARROYO 852,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,23.0,18.0
21,-58.378890,-34.592202,31418,Lineal,1,NaN,Arroyo,800,830,ARROYO 830,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,28.0,28.0
22,-58.379287,-34.591713,32146,Lineal,1,NaN,Arroyo,800,858,ARROYO 858,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,8.0,11.0
23,-58.379281,-34.591693,32147,Lineal,1,NaN,Arroyo,800,862,ARROYO 862,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,10.0,15.0
24,-58.379597,-34.591459,32148,Lineal,1,NaN,Arroyo,800,866,ARROYO 866,Exacta,Tilia x moltkei,4,Ocupada,Regular,A nivel,20.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370155,NaN,NaN,545815,Lineal,15,289,Ballivián José,2600,2636.0,NaN,Exacta,Platanus x acerifolia,3.2,Ocupada,Regular,A Nivel,63.0,13.0
370156,NaN,NaN,545816,Lineal,15,289,Ballivián José,2600,2642.0,NaN,Exacta,Platanus x acerifolia,3.2,Ocupada,Regular,A Nivel,69.0,13.0
370157,NaN,NaN,545817,Lineal,15,289,Ballivián José,2600,2650.0,NaN,LA1,Platanus x acerifolia,3.2,Ocupada,Regular,A Nivel,61.0,15.0
370158,NaN,NaN,545818,Lineal,15,289,Ballivián José,2600,2662.0,NaN,Exacta,Platanus x acerifolia,3.2,Ocupada,Regular,A Nivel,72.0,13.0
370159,NaN,NaN,545820,Lineal,15,289,Ballivián José,2600,2682.0,NaN,Exacta,Catalpa bignonioides,3.2,Sobreocupada,Fuera de línea,Elevada,22.0,4.0
370160,NaN,NaN,545926,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA1,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,25.0,10.0
370161,NaN,NaN,545927,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA2,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,15.0,7.0
370162,NaN,NaN,545928,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA3,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,19.0,8.0
370163,NaN,NaN,545929,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA4,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,16.0,9.0
370164,NaN,NaN,545930,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA5,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,21.0,9.0
370165,NaN,NaN,545931,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA6,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,16.0,7.0
370166,NaN,NaN,545932,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA7,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,22.0,8.0
370167,NaN,NaN,545933,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA8,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,17.0,7.0
370168,NaN,NaN,545934,Lineal,15,423,De los Constituyentes Av.,2600,2600.0,NaN,LA9,Fraxinus pennsylvanica,NaN,Ocupada,NaN,NaN,14.0,6.0
370169,-58.470559,-34.595531,545935,Lineal,15,423,Punta Arenas Av.,1500,1500.0,NaN,LA1,Tipuana tipu,NaN,Ocupada,NaN,NaN,62.0,16.0
370170,-58.470559,-34.595531,545936,Lineal,15,423,Punta Arenas Av.,1500,1500.0,NaN,LA2,Tipuana tipu,NaN,Ocupada,NaN,NaN,76.0,16.0
370171,-58.470559,-34.595531,545937,Lineal,15,423,Punta Arenas Av.,1500,1500.0,NaN,LA3,Tipuana tipu,NaN,Ocupada,NaN,NaN,57.0,16.0
370172,-58.470559,-34.595531,545938,Lineal,15,423,Punta Arenas Av.,1500,1500.0,NaN,LA4,Tipuana tipu,NaN,Ocupada,NaN,NaN,71.0,18.0
370173,NaN,NaN,546137,Lineal,15,919,Guevara,1000,1000.0,NaN,LD11,Jacaranda mimosifolia,3.3,Ocupada,Regular,A nivel,44.0,7.0
370174,NaN,NaN,546139,Lineal,15,919,Guevara,1000,1000.0,NaN,LD2,Ficus benjamina,3.3,Ocupada,Regular,A nivel,41.0,6.0
370175,NaN,NaN,546140,Lineal,15,919,Guevara,1000,1000.0,NaN,LD3,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,34.0,7.0
370176,NaN,NaN,546141,Lineal,15,919,Guevara,1000,1000.0,NaN,LD4,Melia azedarach,3.3,Ocupada,Regular,A nivel,45.0,8.0
370177,NaN,NaN,546142,Lineal,15,919,Guevara,1000,1000.0,NaN,LD5,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,60.0,8.0
370178,NaN,NaN,546143,Lineal,15,919,Guevara,1000,1000.0,NaN,LD6,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,64.0,8.0
370179,NaN,NaN,546144,Lineal,15,919,Guevara,1000,1000.0,NaN,LD7,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,61.0,8.0